# ==============================================================================

# Container Settings

# ==============================================================================

CT_ID=100
CT_HOSTNAME=jb-tools
CT_STORAGE=local-lvm
TEMPLATE=ubuntu-22.04-standard_22.04-1_amd64.tar.zst
CORES=2
RAM=2048

# ==============================================================================

# Networking Settings

# ==============================================================================

BRIDGE0=vmbr0
BRIDGE1=vmbr1
CT_IP0=192.168.1.100/24
CT_IP1=10.10.10.100/24
GATEWAY=192.168.1.1
MTU1=9000

# ==============================================================================

# Mount Points

# ==============================================================================

HOST_MOUNT_SRC=/mnt/media/transmission
MOUNT_MEDIA_SRC=/mnt/transmission

HOST_MOUNT_DEST=/mnt/media
MOUNT_MEDIA_DEST=/mnt/media

HOST_STORAGE=/mnt/Truenas/Storage
MOUNT_STORAGE=/mnt/storage

# ==============================================================================

# System Settings

# ==============================================================================

PYTHON_VERSION=3.12
ROOT_PASSWORD=changeme

# ==============================================================================

# Template Directory

# ==============================================================================

TEMPLATE_DIR=./templates

# ==============================================================================

# Mounts Array

# ==============================================================================

MOUNTS=(
"$HOST_MOUNT_SRC:$MOUNT_MEDIA_SRC"
"$HOST_MOUNT_DEST:$MOUNT_MEDIA_DEST"
"$HOST_STORAGE:$MOUNT_STORAGE"
)
